@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Italic";
  src: url("fonts/Roboto/Roboto-Italic-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
