:root {
  --accent-color: #036336;
  --gray-trprn-color: rgba(37, 128, 51, 0.3);
  --gray-50-color: #e6e6e6;
  --gray-75-color: #d9d9d9;
  --index-size: calc(1vw + 1vh);
}
#root {
  background-image: url(../assets/img/background.png);
  background-position: center;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  min-height: 100lvh;
  color: black;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
@media (max-width: 768px) {
  #root {
    justify-content: start;
    overflow-y: auto;
  }
}
.eye_icon:hover svg {
  fill: var(--accent-color);
}
/* 
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  /* background-clip: padding-box; */
/* border: 10px solid transparent; */
/* } */

/* *::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
} */
