:root{
  --accent-color: #036336;
  --gray-trprn-color: rgba(37, 128, 51, 0.30);
  --gray-50-color: #E6E6E6;
  --gray-75-color: #D9D9D9;
  --index-size: calc(1vw + 1vh)
}
#root {
  background-image: url(../assets/img/background.png);
  background-position: center;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  min-height: 100lvh;
  color: black;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
@media (max-width: 768px) {
  #root {
    justify-content: start;
    overflow-y: auto;
  }
}