:root{
  --accent-color: #036336;
  --gray-trprn-color: rgba(37, 128, 51, 0.30);
}
#root {
  background-image: url(../assets/img/background.png);
  background-position: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}