.warn_message {
    padding: 30px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24pt;
    gap: 20px;
    color: var(--accent-color);
    user-select: none;
    margin-bottom: 20px;
}