.warn_message {
  padding: 30px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 24pt;
  gap: 20px;
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .warn_message {
    font-size: 20pt;
    padding: 20px;
    gap: 15px;
  }
}
