.layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: 
    "aside header header"
    "aside content content"
    "footer content content";
    grid-template-rows: 210px 1fr 25px;
    width: 1200px;
    box-shadow: black -2px 5px 20px 0px;
    height: 100%;
}
.content {
    grid-area: content;
    background-color: white;
}
.layoutMobile {
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content content";
    grid-template-rows: min-content 1fr;
} 