@import "../../styles/fonts.css";

header {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

.first {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5rem;
  padding: 0 10px;
  color: white;
  align-items: center;
  font-family: Roboto;
}
.first h1 {
  font-size: clamp(1em, calc(var(--index-size) * 1), 2em);
  font-weight: bold;
}

.second {
  background-color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

.second > *:first-child {
  margin-left: 0px;
}

.second > *:last-child {
  margin-right: 0px;
}

.balance {
  display: flex;
  align-items: center;
}

.balance svg {
  width: calc(var(--index-size) * 1.5);
  height: calc(var(--index-size) * 1.5);
  max-width: clamp(30px, calc(var(--index-size) * 1), 50px);
  max-height: clamp(30px, calc(var(--index-size) * 1), 50px);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link:hover {
  border-radius: 50px;
  padding: 0px 15px 0px 0px;
  background-color: var(--gray-trprn-color);
}

.title {
  font-family: Roboto;
  font-size: clamp(11pt, calc(var(--index-size) * 1.3), 16pt);
  font-weight: 500;
  margin-left: 10px;
}

.price {
  background-color: var(--accent-color);
  padding: 2px 10px;
  color: white;
  font-family: Roboto;
  margin-left: 5px;
  border-radius: 50px;
  font-size: clamp(11pt, calc(var(--index-size) * 1), 13pt);
}

.key {
  width: clamp(50px, 10vw, 80px);
  height: auto;
}

.pageName {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 30px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: clamp(10pt, 4vw, 14pt);
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.burger {
  background: transparent;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .first {
    width: 100vw;
    display: grid;
    grid-template-columns: 70px 1fr 60px;
    padding: 0 10px;
  }

  .first svg {
    width: calc(var(--index-size) * 2.5);
  }

  .second {
    display: none;
  }
  header {
    grid-template-rows: min-content;
  }
}
